

    <div class="row form-group">
        <div class="control-label col-md-2">Import from:</div> 
        <div class="col-md-10">
            <input type="text" class="form-control" />
        </div>
    </div>

    <div class="row form-group">
        <div class="control-label col-md-2">choose file</div> 
        <div class="col-md-10">
            @Html.FileUploadForm("../SaleChannel/ImportOrder")
        </div>
    </div>

